<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="shortcut icon" href="http://faviconka.ru/ico/faviconka_ru_1463.ico" type="image/x-icon">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-dark shadow ">

        <div th:object="${user}">
            <a class="navbar-text text-white font-weight-bold" th:text="${user.getEmail()}"> </a>
            <a class="navbar-text text-white"
               th:text=" ' with roles : ' "></a>
            <a>
                <th:block th:each="role : ${user.getRoles()}">
                    <a class="navbar-text text-white font-weight-bold" th:text="${role.getRole()} ">,</a>
                </th:block>
            </a>

        </div>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p></p>
            <div class="btn-group-vertical btn-block">
                <button class="btn btn-primary pl-3 text-left" type="button">
                    <a class="text-light ">Admin </a>
                </button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <a href="/profile" class="card-link pl-3 mb-3 py-3 ">User</a>
            </div>
        </div>
        <div class="col-md-10 vh-100 bg-light">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Admin panel</h1>
            </div>
            <div class="row">
                <a href="/users" class="card-link py-3 mx-3 py-3 pl-4 pr-3 ">Users table</a>
                <div class="card-header bg-white py-3 mx-3 border">
                    <h5>New user</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Add new user</h4>
                </div>
                <div class="card-body">
                    <form action="/users/add" method="post">
                        <div class="col-md-4 offset-md-4">
                            <fieldset class="form-group ">
                                <label>User Name</label> <input type="text"
                                                                class="form-control"
                                                                name="name" required="required"/>
                            </fieldset>

                            <fieldset class="form-group">
                                <label>User Last Name</label> <input type="text"
                                                                     class="form-control"
                                                                     name="last_name" required="required"/>
                            </fieldset>

                            <fieldset class="form-group">
                                <label>User Email</label> <input type="text"
                                                                 class="form-control"
                                                                 name="email" required="required">
                            </fieldset>

                            <fieldset class="form-group">
                                <label>User Login</label> <input type="text"
                                                                 class="form-control"
                                                                 name="login" required="required">
                            </fieldset>

                            <fieldset class="form-group">
                                <label>User Password</label> <input type="password"
                                                                    class="form-control"
                                                                    name="password" required="required">
                            </fieldset>

                            <fieldset class="form-group">
                                <label>Role</label>
                                <select class="form-control" id="ids" name="role"
                                        placeholder="role"
                                        required="role"
                                        type="text"
                                        th:value='USER'>
                                    <option name="ADMIN" value="USER">USER</option>
                                    <option name="USER" value="ADMIN">ADMIN</option>
                                </select>
                            </fieldset>
                            <br>
                            <p>
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                <button type="reset" class="btn btn-danger">Очистить форму</button>
                                <button type="submit" class="btn btn-success">Отправить форму</button>

                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>