<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            <form action="/users/add" method="post">
                <h2>
                    Add New User
                </h2>

                <fieldset class="form-group">
                    <label>User Name</label> <input type="text"
                                                    class="form-control"
                                                    name="name" required="required"/>
                </fieldset>

                <fieldset class="form-group">
                    <label>User Last Name</label> <input type="text"
                                                         class="form-control"
                                                         name="last_name" required="required"/>
                </fieldset>

                <fieldset class="form-group">
                    <label>User Email</label> <input type="text"
                                                     class="form-control"
                                                     name="email" required="required">
                </fieldset>

                <fieldset class="form-group">
                    <label>User Login</label> <input type="text"
                                                     class="form-control"
                                                     name="login" required="required">
                </fieldset>

                <fieldset class="form-group">
                    <label>User Password</label> <input type="text"
                                                        class="form-control"
                                                        name="password" required="required">
                </fieldset>

                <fieldset class="form-group">
                    <label>User Role</label> <input type="text"
                                                    class="form-control"
                                                    th:value='USER'
                                                    name="role" required="required">
                </fieldset>

                <p>
                    <button type="reset">Очистить форму</button>
                    <button type="submit">Отправить форму</button>
                    <button class="button" onclick="location.href='/users'">Вернуться к списку</button>
                </p>

            </form>
        </div>
    </div>
</div>

</body>
</html>